@import '../../index.scss';

.pricing-screen{
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .hero-text{
        display: flex;
        justify-content: space-between;

        .left{
            h1{
                font-size: clamp(1rem, 3vw, 1.5rem);
                color: $primary;
            }
            
            h2{
                font-size: clamp(1rem, 5vw, 2.5rem);
                color: $text-header;
                max-width: 20ch;
            }
        }

        .right{

            p{
                font-size: clamp(0.8rem, 1vw, 1rem);
                color: $text;
                margin-top: 1rem;
                max-width: 50ch;
                text-align: end;

                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: .5rem;
            }
        }

        @media screen and (max-width: 768px){
            flex-direction: column;

            .right p{
                align-items: flex-start;
                text-align: start;
            }
        }
    }

    .packages{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;

        .package{
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: $border;
            border-radius: $radius;
            padding: 2rem;
            border: 1px solid $border;

            .tag{
                background-color: #ccc;
                color: $text-header;
                padding: .1rem .5rem;
                border-radius: calc($radius / 2);
                font-size: clamp(0.8rem, 1vw, 1rem);
                width: fit-content;
                font-weight: 600;
            }

            .from{
                font-size: clamp(0.8rem, 1vw, 1rem);
                color: $text;
                margin-top: 1rem;
            }

            .price{
                font-size: clamp(1.5rem, 3vw, 2rem);
                color: $text-header;
            }

            ul{
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 2px solid #ccc;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li{
                    display: flex;
                    gap: 1rem;
                    font-size: clamp(0.8rem, 1vw, 1rem);
                    color: $text;

                    &::before{
                        content: '✓';
                    }
                }
            }

            &:nth-child(2){
                background-color: white;

                .tag{
                    background-color: $primary-bg;
                    color: $primary;
                }

                .price{
                    color: $primary;
                }

                ul{
                    border-color: $border;
                }

                &::after{
                    content: 'Populär';
                    position: absolute;
                    top: -.75rem;
                    right: 2rem;
                    background-color: $primary;
                    color: white;
                    padding: .1rem .5rem;
                    border-radius: calc($radius / 2);
                    font-size: clamp(1rem, 1.5vw, 1.2rem);
                    font-weight: 600;
                    rotate: 15deg;
                }
            }

            &:nth-child(3){
                background-color: #2C2C2C;
                color: white;

                .tag{
                    background-color: white;
                    color: $text-header;
                }

                .from{
                    color: $border;
                }

                .price{
                    color: white;
                }

                ul{
                    border-color: $text;

                    li{
                        color: $border;
                    }
                }
            }
        }
    }

    .lower-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 5vh;

        h2{
            font-size: clamp(1rem, 5vw, 2.5rem);
            color: $text-header;
            text-align: center;
        }

        p{
            font-size: clamp(0.8rem, 1vw, 1rem);
            color: $text;
            max-width: 50ch;
            text-align: center;
        }
    }
}