@import '../../index.scss';

.home-screen{
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        text-align: center;
        padding: 20vh 10vw 0 10vw;
        min-height: calc(100vh - $navbar-height);
        overflow: hidden;

        h1{
            font-size: clamp(2rem, 4vw, 4rem);
            color: $text-header;
            
            div:last-child {
                color: $primary;
            }
        }

        p{
            font-size: clamp(1rem, 2vw, 1.5rem);
            color: $text;
            max-width: 50ch;
        }

        .mouse-follow{
            position: absolute;
            width: 25vw;
            aspect-ratio: 1;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            transform-origin: top left;  
            top: 30%;
            left: 60%;
            z-index: -1;
            background: linear-gradient(
                to right,
                aquamarine,
                mediumpurple
            );
            animation: rotate 20s linear infinite;
            filter: blur(250px);
        }
    
        @keyframes rotate{
            from {
                rotate: 0deg;
            }
            50% {
                scale: 1 1.5;
            }
            to {
                rotate: 360deg;
            }
        }
    }

    .help{
        display: flex;
        gap: 2rem;
        padding: 10vh 20vw;
        background-color: $primary-bg;

        h2{
            flex: 1;
            font-size: clamp(1rem, 5vw, 2.5rem);
            color: $text-header;
        }

        .right{
            flex: 1;
            margin-top: 15vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            p{
                font-size: clamp(1rem, 1vw, 1.2rem);
                color: $text;
            }
        }

        @media screen and (max-width: 1200px){
            flex-direction: column;
            gap: 5vh;

            .right{
                margin-top: 0;
            }
        }
    }

    .services{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .text{
            padding: 0 10vw;
        }
        
        .options{
            padding: 0 10vw;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 2vh;

            .option{
                list-style-type: none;

                button{
                    font-size: clamp(.75rem, 2vw, 1rem);
                }
            }

            .buttons{
                display: flex;
                margin-left: auto;

                &:not(:last-child){
                    margin-left: auto;
                }
                
                button{
                    padding: 0.25rem;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: color 0.2s;

                    &:hover{
                        color: $primary;
                    }

                    &:disabled{
                        opacity: 0.5;
                        cursor: default;

                        &:hover{
                            color: $text;
                            opacity: 0.5;
                        }
                    }

                    svg{
                        width: 2rem;
                        height: 2rem;
                    }
                }
                
            }
        }

        .cards{
            display: grid;
            grid-template-columns: repeat(4, 80vmin);
            gap: 5vmin;
            padding: 0 10vw 2vh 10vw;
            margin-top: 2vh;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-padding-left: 10vw;

            .card{
                scroll-snap-align: start;
                display: inline-flex;
                flex-direction: column;
                gap: 1rem;
                width: 80vmin;
                height: 100%;
                padding: 8vmin;
                
                background-color: white;
                border-radius: $radius;
                border: 1px solid $border;
                box-shadow: $soft-shadow;
                
                transform-origin: left;
                white-space: normal;

                .top{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    h4{
                        color: $text-header;
                        font-size: clamp(1.25rem, 3vw, 2rem);
                    }

                    .icon{
                        width: 4rem;
                        height: 4rem;
                        border-radius: $radius;
                        background-color: $primary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
    
                        svg{
                            width: 2rem;
                            height: 2rem;
                        }
                    }

                    @media screen and (max-width: 768px){
                        flex-direction: row;
                        align-items: flex-end;

                        .icon{
                            width: 3rem;
                            height: 3rem;

                            svg{
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }  

                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    list-style: none;
                    margin-top: 1rem;
                    
                    li{
                        font-size: clamp(.65rem, 2vw, 1rem);

                        &::before{
                            content: "✓";
                            color: $primary;
                            font-weight: bold;
                            display: inline-block;
                            margin-right: 1vw;
                        }
                    }
                }
            }

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    .whyus{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        background-color: $primary-bg;
        padding: 10vh 10vw;
        overflow: hidden;

        > h2{
            text-align: center;
            color: $text-header;
            font-size: clamp(2rem, 4vw, 3rem);
        }

        > p{
            text-align: center;
            color: $text;
            font-size: clamp(1rem, 2vw, 1.5rem);
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-content: center;
            align-items: center;
            gap: 5vw;
            width: 100%;

            .item{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                text-align: center;

                img{
                    height: 15vh;
                    width: 15vh;
                }

                h3{
                    color: $text-header;
                    font-size: clamp(1.5rem, 3vw, 2rem);
                }

                p{
                    color: $text;
                    font-size: clamp(1rem, 2vw, 1.25rem);
                }
            }
        }

        .next-step{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            margin-top: 5vh;

            h3{
                color: $text-header;
                font-size: clamp(1.5rem, 3vw, 2rem);
                text-align: center;
            }
        }
    }

    .testimony{
        background-color: $secondary-bg;
        padding: 5vh 5vw;
        margin: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        border-radius: 1rem;

        .icon{
            color: $secondary;
            width: 4rem;
            height: 4rem;
        }

        .quote{
            color: $text-header;
            font-size: clamp(1rem, 3vw, 2rem);
            font-weight: 600;
            text-align: center;
        }

        .author{
            color: $text;
            font-size: clamp(1rem, 2vw, 1.5rem);
            text-align: center;
        }
    }

    .portfolio{
        padding: 0 10vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h2, h3{
            text-align: center;
        }

        .projects{
            display: grid;
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            gap: 2rem;
            margin-top: 5vh;
            padding-bottom: 8rem;

            .project{
                width: 100%;
                aspect-ratio: 16 / 9;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 1px solid $border;
                    box-shadow: $soft-shadow;
                    border-radius: $radius;
                }

                &:nth-child(even){
                    img {
                        transform: translateY(4rem);
                    }
                }
            }

            @media screen and (max-width: 1200px){
                grid-template-columns: repeat(1, minmax(300px, 1fr));
            }
        }
    }

    .pricing{
        padding: 0 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p{
            font-size: clamp(0.8rem, 1vw, 1rem);
            color: $text;
            margin-top: 2rem;
            max-width: 75ch;
            text-align: center;
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin: 3vh 0;
            
            .card{
                border: 1px solid $border;
                background-color: white;
                border-radius: $radius;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                flex: 1;
    
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
    
                    color: #555;
                    
                    li::before{
                        content: '✓';
                        font-weight: 700;
                        color: $primary;
                        margin-right: 0.5rem;
                    }
                }
    
                span{
                    background-color: $primary-bg;
                    color: $text-header;
                    font-weight: 700;
                    font-size: clamp(1rem, 2vw, 1.5rem);
                    margin-top: auto;
                    padding: 0.5rem 1rem;
                    width: fit-content;
    
                    &::after{
                        content: ' kr';
                        font-weight: 400;
                        font-size: clamp(0.75rem, 1.5vw, 1rem);
                    }
                }
            }
        }

    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 16vh;

        > div{
            margin-top: 4vh;
        }
    }
}