@import '../../../index.scss';

.checkmark {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: black;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px green;

    .circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: black;
        fill: none;
        animation: stroke 1s cubic-bezier(0.650, 0.000, 0.450, 1.000) infinite alternate-reverse;
    }

    .check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        stroke-linecap: round;
        stroke: $primary;
        animation: stroke 1s cubic-bezier(0.650, 0.000, 0.450, 1.000) infinite alternate-reverse;
    }

    @keyframes stroke {
        100% {
          stroke-dashoffset: 0;
        }
    }
}