.wrapper{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}

.map{
    height: 50vh;
    width: 50vh;
    max-width: 80vw;
    max-height: 80vw;
    overflow: hidden;
    border-radius: 2vh;
    box-shadow: var(--soft-shadow);
    background-color: white;
}

.map svg{
    width: 100%;
    height: 100%;
}

.countrys path{
    fill: rgb(164, 195, 219);
    outline: none;
    stroke: var(--active-accent-bg);
    stroke-width: 0.25;
}

.marker text{
    fill: var(--text-grey);
    font-size: 0.15rem;
    font-weight: 600;
    pointer-events: none;
}

.marker g{
    stroke: var(--text-grey);
}

.team{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.member{
    background-color: white;
    width: 13vw;
    min-width: 28vh;
    height: 36vh;
    border-radius: 2vh;
    margin-top: 3vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--soft-shadow);
}

.member img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.member .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0px -5px 25px -3px rgba(0,0,0,0.1);
}

@media screen and (max-width: 768px){
    .team{
        align-items: center;
    }
}