@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  background-color: var(--body-bg);
}

:root{
  /* Global */
  --body-bg: #f9f9f9;
  --text-grey: rgb(73, 80, 87);
  --hover-grey:rgb(243, 244, 245);
  --active-accent-bg: rgb(231, 245, 255);
  --active-accent: rgb(34, 139, 230);
  --border: rgb(233, 236, 239);
  --radius: 0.5rem;
  --soft-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  --medium-shadow: 0px 15px 15px 0px rgba(0,0,0,0.15);
  /* Navbar */
  --navbar-bg: #ffffff;
  --navbar-height: 72px;
  --footer-height: 96px;
}

h1{
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: #222;
}

h2{
  font-size: clamp(1rem, 5vw, 2.5rem);
  color: #222;
}

h3{
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  color: #222;
}

h4{
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  color: var(--active-accent);
}

h5{
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
}

p{
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--text-grey);
}

h1 span, h2 span, h3 span, h4 span, h5 span, p span{
  color: var(--active-accent);
}

.container{
  position: relative;
  max-width: 100%;
  padding: 15vh 10vw;
  min-height: calc(100vh - var(--footer-height));
  overflow: hidden;
}

.title{
  text-align: center;
}

.bluebtn{
  background-color: var(--active-accent-bg);
  color: var(--active-accent);
  font-weight: 600;
  padding: 1vh 3vw;
  border-radius: 1vh;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bluebtn:hover{
  background-color: var(--active-accent);
  color: #fff;
}

.pulsating{
  animation: pulse 2s infinite;
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 0px 0px rgba(34, 139, 230, 0.1);
  }
  25%{
    box-shadow: 0px 0px 20px 0px rgba(34, 139, 230, 0.5);
  }
  50%{
    box-shadow: 0px 0px 0px 0px rgba(34, 139, 230, 0.1);
  }
}

.link{
  color: var(--active-accent);
  font-weight: 400; 
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.inputbox{
  position: relative;
  display: flex;
  gap: 1vw;
  margin: 1rem 0.5rem;
  width: 100%;
}

.inputbox input, .inputbox textarea{
  width: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  padding: 1rem 0;
  border: none;
  border-bottom: 2px solid var(--border);
}

.inputbox input:valid, .inputbox input:focus, .inputbox textarea:not(:placeholder-shown), .inputbox textarea:focus{
  border-bottom: 2px solid var(--active-accent);
}

.inputbox label{
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--text-grey);
  position: absolute;
  pointer-events: none;
  top: 1rem;
  transition: all 0.25s;
}

.inputbox input:valid ~ label, .inputbox input:focus ~ label, .inputbox textarea:not(:placeholder-shown) ~ label, .inputbox textarea:focus ~ label{
  font-size: clamp(0.5rem, 1vw, 0.75rem);
  top: -0.5rem;
  color: var(--active-accent);
}

.skills{
  display: flex;
  gap: 3vw;
}

.skills svg{
  height: calc(3vh + 1vw);
  width: calc(3vh + 1vw);
}

.icon{
  height: 5vh;
  width: 5vh;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg{
  height: 50%;
  width: 50%;
}