.sticky{
    position: sticky;
    top: 15vh;
    height: 20vh;
    padding: 2rem calc(2vw + 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    margin-top: 5vh;
}

.card{
    background-color: var(--body-bg);
    border-radius: 2vh;
    position: sticky;
    top: 40vh;
    padding: 5vh 20vw;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.card:nth-child(odd){
    flex-direction: row;
    background-color: #fdfdfd;
}

.icon{
    height: 10vh;
    width: 10vh;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg{
    height: 50%;
    width: 50%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
}

.service{
    display: flex;
    gap: 3vh;
    flex-wrap: wrap-reverse;
    margin-top: 15vh;
    scroll-margin-top: 20vh;
}

.service:nth-child(odd){
    flex-direction: row-reverse;
}

.service .text{
    flex: 2;
    min-width: 200px;
}

.service .image{
    flex: 1;
    min-width: 200px;
    aspect-ratio: 16 / 9;
    border-radius: 2vh;
    overflow: hidden;
}

.service .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}